{% extends 'base.html' %}

{% block title %}新規会員登録{% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<script src="{% static 'js/bari/accounts.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="main-container">
  <!-- mainのコンテナの -->
  <div class="fccc align-items-center  ">
  <div class="container-fluid bg-white main-containar back-w">
    <!-- ロゴとログイン -->
    <div class="mb-1 fccc d-block logo-login">
      <!-- ↓ロゴ -->
      <img class="mb-1 vlgi" src="{% static 'images/logo.png' %}" width="350px" height="auto" alt="" />
      <!-- 会員登録の文字 -->
      <h3 class="reg-h3">新規会員登録</h3>
    </div>


    
    <!-- form -->
    <div class="mb-3 fccc">
      <form method="POST">
        <!--formがエラーだったら(settingのバリで引っかかったら表示)-->
        {% if form.errors %}
        <!--アラート、赤、中黒削除-->
        <ul class="alert alert-danger  list-unstyled">
          <strong >エラー</strong>
          <hr>
          <!--各フィールドを引っ張ってくる(エラーがないと""で表示なし)-->
          {% for field in form %}
          {% for error in field.errors %}
              <p>{{ field.label }}: {{ error }}</p>
          {% endfor %}
      {% endfor %}
        </ul>
        {% endif %}
        {% csrf_token %}
        <!-- 入力検証のバリデーションP230を参照 -->
        <div class="mb-1 fccc">
          <label class="form-label" for="{{ form.username.id_for_label }}">{{form.username.label}}</label>
          {{ form.username |add_class:'form-control' |attr:"id:username"  }}
        </div>
        <!-- メールアドレス -->
        <div class="mb-1 fccc">
          <label class="form-label"  for="{{ form.email.id_for_label }}">{{form.email.label}}</label>
          {{ form.email  |add_class:'form-control'|attr:"id:email"}}
        </div>
        <!-- パスワード -->
        <div class="mb-1 fccc">
          <label class="form-label" for="{{ form.password1.id_for_label }}">{{form.password1.label}}</label>
          {{ form.password1  |add_class:'form-control '|attr:"id:id_password"}}
          <small class="form-text text-muted">半角英数、記号、数字いずれか2種類以上、8文字以上</small>
          <!--パスワードのエラー文(デフォルト非表示)-->
          <div id="pwer" class="alert alert-danger mt-3 d-none">
            <strong>エラー</strong>
            <p>パスワードは8文字以上で、<br>半角英字、数字、記号のいずれか2種類以上<br>を含む必要があります</p>
          </div>
        </div>
        <!-- パスワード確認用 -->
        <div class="mb-3 fccc">
          <label class="form-label" for="{{ form.password2.id_for_label }}">{{form.password2.label}}</label>
          {{ form.password2 |add_class:'form-control ' }}
          <small class="form-text text-muted">確認のため、もう一度パスワードを入力してください</small>
        </div>
        <!-- 登録ボタン -->
         <!--pwのhtmlバリでのエラーでのbtn無効時のビジュaccountcss-->
        <div class="">
          <button class="btn btn-light text-white login-btn" id="btn" type="submit">新規登録</button>
        </div>
        
      </form>
    </div>

    <!-- 車の画像(hoverで走るよ!!) -->
    <div class="car-wrapper">
      <img class="car" src="{% static 'images/car.png' %}" alt="" />
    </div>

    {% comment %} <!-- もとのform-->
  </div>
  <h2>新規会員登録</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">登録</button>
  </form>
</div> {% endcomment %}
  </div>
{% endblock %}