.splide{
  width: 80%;
  margin: 50px auto;
}
.splide__slide{
height: 300px;
}
.splide__slide a:hover{
opacity: 0.6;
}
a{
  text-decoration: none;
  color: #000;
}
#cover{
   /* 枠線を付ける */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  width: 85%;
  height: auto;
  background-color: #fff;
  margin: auto;
}
#up{
  width: 100%;
  /* height: 160px; */
  aspect-ratio: 16 / 9;
  background-color: #fff;
  display: flex;
  margin: auto;
  overflow: hidden;
  /* border:solid 1px #000000; */
  border-radius: 5px 5px 0 0;
}
.splide__slide img {
height: auto;
width: 100%;
margin: auto;
/* border: 1px solid #999; */
}
.splide__arrow{
top: 30%;
}
#down{
  width: 100%;
  height: 100px;
  margin: auto;
}
#indown{
  /* width: 90%; */
  /* height: 90%; */
  /* margin: 5px; */
  padding: 3px;
}
#down div#maker h2{
  font-size: 15px;
  margin: 10px 0 0 0;
}
#down div#syasyu h2{
  font-size: 24px;
  margin: 0 0 5px 5px;
  /* line-height: 60px; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#down div#price h2{
  font-size: 25px;
  color: rgb(255, 31, 31);
  text-align: right;
  margin: 0;
}

div#event{
  margin: 60px auto;
  width: 80%;
  height: 180px;
  display: flex;
  justify-content: space-between;
}
div#event div a:hover{
  opacity: 0.7;
  background-color: #eee;
}
.event1{
  width: 75%;
  height: auto;
  border: 1px,solid,#000;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.event2{
  width: 20%;
  height: auto;
  border: 1px,solid,#000;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
.event2 a{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
a.ea{
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}
.eleft{
  width: 65%;
  height: auto;
  padding-left: 4%;
}
.eleft div.eaddress{
  display: flex;
}
.eleft div.eaddress img{
  height: 1em;
  margin: auto 0;
}
.eleft div p{
  margin: 0;
}
.pt{
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pf{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pe{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eright{
  width: 35%;
  aspect-ratio: 16 / 9;
}
.eimage{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eimage img{
  height: 90%;
  border-radius: 5px;
  border: 2px solid #ddd;
}
.ep{
  font-size: 25px;
  border-bottom: 1px solid #000;
  margin: 0;
}
/* ul#eventul{
display: flex;
height: 100%;
list-style: none;
margin: 0;
padding: 0;
}
ul#eventul li#evenli1 h2{
margin: 0;
}
ul#eventul li{
margin: auto;
}
ul#eventul li#eventli2{
height: 200px;
display: flex;
align-items: center;
}
ul#eventul li#eventli2 figure{
margin: 0;
} */
div#osusume{
width: 80%;
height: 50px;
display: flex;
align-items: center;
border-bottom: 2px solid #000;
margin: auto;
}
div#osusume h2{
font-size: 1.7rem;
}

/* 1) タブレット(〜991px) */
@media (max-width: 991px) {
  /* 小樽クラシックカー博覧会 */
  .otaruimg{
    display: none;
  }
  /* 製品カルーセル2枚topjsで */
  /* イベントページへを消しイベントを拡大 */
  .event2{
    display: none;
  }
  .event1{
    width: 95%;
  }
}

/* 2) スマホ(〜767px) */
/* galaxyZfold5 */
@media (max-width: 767px) {
  /* 製品カルーセル1枚topjsで */
}
